.app{
 margin-left: 500px;
width: 600px;


}
.btn-add{
    border-radius:  4px;
    font-family: gilroy;
    color: white;
    background-color: blue;
}
.inp{
    border-radius: 4px;
font-family: giroy;
}
.text{
    width: 90px;
   
background-color: lightblue;

margin-right: 8px;
}
.tagList{
  
    margin-left: 500px;
    width: 200px;
    display: flex;
flex-wrap: wrap;
margin-top: 20px;
}
.delbtn{
border-style: none;
background-color: rgb(60, 12, 172);
color: white;
border-radius: 50%;
}

.tag{
    background-color: lightblue;
    padding: 4px 8px;
    border-radius: 10px;
    margin-right: 3px;
    margin-top: 3px;
}